<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Filmes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Lista de Filmes</h1>
    </header>
    <div class="container">
        <ul>
            {% if movies %}
                {% for movie in movies %}
                    <li>
                        <div class="movie-title">{{ movie.name }}</div>
                        <p class="movie-info">{{ movie.description }}</p>
                        <div class="movie-meta">
                            Lançamento: {{ movie.release_date|formatdate }} |                            |
                            Diretor: {{ movie.director }} |
                            Gênero: {{ movie.genre }}
                        </div>
                    </li>
                {% endfor %}
            {% else %}
                <li>Nenhum filme encontrado.</li>
            {% endif %}
        </ul>
    </div>
</body>
</html>
