<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Filmes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='ico/movie.ico') }}">    
</head>
<body>
    <header>
        <h1>Lista de Filmes</h1>
    </header>

    <div class="container">
        <form id="addMovieForm">
            <input type="text" id="name" name="name" placeholder="Nome do Filme" required>
            <input type="text" id="description" name="description" placeholder="Descrição">
            <input type="date" id="release_date" name="release_date">
            <input type="text" id="director" name="director" placeholder="Diretor">
            <input type="text" id="genre" name="genre" placeholder="Gênero">
            <button type="submit">Adicionar Filme</button>
        </form>       

        <ul>
            {% if movies %}
                {% for movie in movies %}
                    <li class="movie-item">
                        <div class="movie-title">{{ movie.name }}</div>
                        <p class="movie-info">{{ movie.description }}</p>
                        <div class="movie-meta">
                            Lançamento: {{ movie.release_date|formatdate }}
                            {% if movie.director %}
                                | Diretor: {{ movie.director }} 
                            {% endif %}
                            {% if movie.genre %}
                                | Gênero: {{ movie.genre }}
                            {% endif %}
                        </div>
                        <div class="actions">
                            <form class="deleteMovieForm">
                                <input type="hidden" id="movie_id" name="movie_id" value="{{ movie.id }}">
                                <button type="submit">Deletar</button>
                            </form>
                            <a href="/update_movie/{{ movie.id }}"><button>Atualizar</button></a>
                        </div>
                    </li>
                {% endfor %}
            {% else %}
                <li>Nenhum filme encontrado.</li>
            {% endif %}
        </ul>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
